*{
    
    margin: 0;
    padding: 0;
   /* font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body{
    color: #fff;
    background-color: #000;
}


.header{
   width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(images/v617batch2-bb-01-technology.jpg);
    background-position: right;
    padding-bottom: 40px;
}
.click{
    width: 10rem;
    height: 10rem;
    
    
}


.clickbutton a{

color: #fff;
text-decoration: none;


}
.clickbutton {
   margin-left: 55rem;
   margin-top: -16rem;
   position: fixed;

}    



.clickbutton img{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


            


.container{
    padding: 20px 10%;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.logo{
width: 140px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
color: #fff;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    

}

nav ul li a{
    color: chartreuse;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: lawngreen;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 20px;
    padding: 20px;

}

.header-text img{
    
    width: 20%;
    height: 20%;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 15px;
    border-style: solid ;
    border-width: 1px;

}



.container span{
color: lawngreen;
}



.pro h2{
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 1rem;
}

.pro span{
    font-size: 2rem;
    }

    

    




.about-col-1{
    flex-basis: 35%;
}





.pro{
    background-color: #262626;
    padding: 0 0 8px 8px;
    font-weight: 300;
    margin: 10px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    
}


   


.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: greenyellow;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    
}

.tab-contents ul li span{
    color: greenyellow;
    font-size: 14px;

}

.tab-contents{
display: none;



}

.tab-contents.active-tab{
    display: block;
}
 h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: chartreuse;

}


/*SERVICES*/



.services-list a{
    color: #3cb0fd;
}
.services-list{
    display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    
    
    
}
.abouts-one{
    margin: 40px;
    padding: 50px;
}
#services div{
    background-color: #262626;
    margin-top: 20px;
    
}






p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}


.services div:hover{
    background: gray;
    transform: translateY(-10px);
    
}



.services div{
    background-color: #262626;
    padding: 40px;
    width: 100%;
    margin: 2rem 2rem;
    border-radius: 10px;
    transition: backround 0.5s,transform 0.5s;
}
.services{
    display: flex;
    background-color: #000;
    margin-top: 0;
    
}


/*PROJECTS PRICES*/
.qoute-prices h3{
    font-size: 25px;
}


.qoute-prices {
    display: flex;
    text-align: center;
    margin-bottom: 3rem;
}

.qoute-prices div{
    width: 100%;
    background-color: #262626;
    margin: 20px 10px;
    border-radius: 10px;
    padding: 20px;
    border: solid;
    border-width: 1px;

}

.qoute-prices span{
    font-size: 2rem;
    color: lawngreen;
}

#Qoute h1{
    padding: 3rem;
}
.qoute-prices h4{
    font-size: 20px;
}

.qoute-prices div:hover{
    background-color: dimgray;
    transform: translateY(-10px);
    transition: backround 0.5s,transform 0.5s;
}



/*PORTIFOLIO*/
#portifolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 60%;
    border-radius: 10px;
    display: block;

}

.layer{
    width: 60%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.contact{
    display: flex;
}
.contact-left {
margin-left: 50rem;
}

.contact-right{
    margin-left: 20rem;
    display: inline;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #000;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #000;
    transform: translateY(-5px);
}


    
.btn {
    background: #34d94d;
    background-image: -webkit-linear-gradient(top,#262626, #2980b9);
    background-image: -moz-linear-gradient(top, #262626, #2980b9);
    background-image: -ms-linear-gradient(top, #262626, #2980b9);
    background-image: -o-linear-gradient(top, #262626, #2980b9);
    background-image: linear-gradient(to bottom, #262626, #2980b9);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  

  .btn2 {
    background: #34d94d;
    background-image: -webkit-linear-gradient(top, #34d94d, #2980b9);
    background-image: -moz-linear-gradient(top, #34d94d, #2980b9);
    background-image: -ms-linear-gradient(top, #34d94d, #2980b9);
    background-image: -o-linear-gradient(top, #34d94d, #2980b9);
    background-image: linear-gradient(to bottom, #34d94d, #2980b9);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
   
   
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }




  
  
  
  .btn2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  
  

form input,textarea{
    width: 100%;
    border: #fff;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}





.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright{
    color: aquamarine;
}

/*CSS FOR SMALL SCREENS*/

@media only screen and(max-with:600px){
    #header{
        background-image: url(images/);
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

  
}
    
.contact-right button{
    
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    border-style: hidden;
    font-size: 1rem;
    color: white
    
}

.social-icons a{
    color: greenyellow;}

.svces{
    border-style: solid;
    border-width: 1px;
}
.buttons{
    margin: 10px;
}    
.Submit{
    margin-left: 40rem;
}